*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    height: 50px;
    width: 100%;
}



span{
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

.home-items{
   display: flex;
   justify-content: space-around;
   margin-top: 40px;
}

@media (max-width: 768px) {
    .home-items {
        flex-direction: column; 
        height: auto;           
        padding: 10px;          
    }
}

.card{
    width: 300px;
}

.empty-cart{
   display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 80vh;            
}

.cart-box{
    width: 300px;
    height:auto;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.cart-box-input{
    width: 50px;
}

.cart-box-inside{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.total{
   display: flex; 
   color: orange;
   justify-content: flex-start;
   padding: 40px;
   gap: 20px;
}

.button1{
    background-color: #fa5252;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.button2{
    background-color: #40c057;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

